.git
.github
.env
.env.*
!.env.example
node_modules
vendor
database/*.sqlite
storage/app/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.DS_Store
Thumbs.db
